.certification{
    padding:100px 0px;
    background-color: $light-green;

    &-icon{
        font-size: 2rem;
        color: $my-green;
    }
    &-secondheader{
        font-weight: 700;
        color:$my-green;
    }
}